*
{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
.webpage{
	width: 100%;
	height: 3000px;
	background: #fff;
}
.homepage{
	height: 750px;
	width: 1200px;
	background-color: #7d0101;
	margin-left: 200px;
}
.navigat{
	width: 100%;
	height: 70px;
	border-bottom: 2px solid #000;
}
ul{
 	display: flex;
 	float: right;
}
ul li{
	position: relative;
  	white-space: nowrap;
  	margin: 0 18px;
  	list-style: none;
	font-family: "Uppercase";
}
ul li a{
	display: block;
	position: relative;
	transition: 0.3s;
	font-size: 16px;
	padding: 25px 3px;
	font-weight: 600;
	text-decoration: none;
	color: #fff;
}
ul > li > a:before{
	content: "";
  	position: absolute;
  	width: 100%;
  	height: 2px;
  	bottom: -2px;
  	left: 0;
  	background-color: #00dc72;
  	visibility: hidden;
  	width: 0px;
  	transition: all 0.3s ease-in-out 0s;
}
a:hover:before, li:hover > a:before, .active > a:before{
	visibility: visible;
  	width: 100%;
}
ul li.active a{
	border-bottom: 2px solid #48ff00;
	color: #fff;
	padding: 25px 5px;
}
.div_1{
	width: 549px;
    height: 577px;
}
.modern{
	margin-left: 90px;
	margin-top: 114px;
	color: #fff;
}
.modern p{
	font-size: 12px;
	color: #8f908e;
}
.cursus{
	margin-left: 140px;
	margin-top: 50px;
	color: #fff;
}
.cursus span{
	font-family: Georgia;
	font-size: 44px;
}
.cursus p{
	margin-top: 15px;
	color: #8f908e;
	font-size: 19px;
}
.btn a{
    background-color: #00c8cf;
    border-radius: 3px;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    cursor: pointer;
    margin-left: 140px;
    margin-top: 50px;
}
.btn img{
	height: 15px;
    margin-left: -28px;
}
.div_2{
	float: right;
    width: 448px;
    height: 577px;
    padding: 50px;
    margin-top: -679px;
}
.div_2 img{
	border-radius: 500px;
    width: 400px;
    height: 400px;
    margin-top: 55px;
}
.about{
	width: 100%;
	height: 550px;
	border-bottom: 1px solid #000;
}
.text p{
	font-size: 22px;
    font-family: Good Times;
    text-align: center;
    margin-top: 10px;
}
.row_one{
	margin-left: -18px;
    margin-top: -24px;
}
.row{
	border-bottom: 1px solid #000;
    width: 300px;
    margin-left: 132px;
    margin-top: 8px;
}
.row_2{
	border-bottom: 1px solid #000;
    width: 300px;
    margin-top: 3px;
    margin-left: 132px;
}
.rowe_two{
	margin-right: -51px;
}
.row_3{
	border-bottom: 1px solid #000;
    width: 300px;
    float: right;
    margin-right: 162px;
}
.row_4{
	border-bottom: 1px solid #000;
    width: 300px;
    float: right;
    margin-top: -4px;
    margin-right: -300px;
}
.img img{
	width: 280px;
    margin-left: 325px;
    margin-top: -90px;
}
.img_2 img{
	float: right;
    width: 280px;
    margin-right: 284px;
    margin-top: -203px;
}
.text_2 p{
	text-align: center;
    margin-top: -85px;
    font-family: Good Times;
    font-size: 14px;
}
.responsiv{
	width: 100%;
    height: 369px;
    background: #fff;
    margin-top: 70px;
}
.sercel_1{
	width: 386px;
    height: 369px;
    margin-top: 70px;
}
.img_3{
	width: 135px;
    height: 135px;
    border: 2px solid #000;
    border-radius: 200px;
    background-color: transparent;
    margin-left: 115px;
}
.img_3 img{
	width: 130px;
    margin-top: 34px;
}
.fluide{
	margin-top: 20px;
    text-align: center;
}
.fluide span{
	font-size: 19px;
}
.sercel_2{
	width: 386px;
    height: 369px;
    margin-top: -369px;
    margin-left: 407px;
}
.img_4{
	width: 140px;
    height: 140px;
    border-radius: 200px;
    background-color: #00d5ff;
    margin-left: 115px;
}
.img_4 img{
	width: 330px;
    margin-top: -51px;
    margin-left: -84px;
}
.fluide_2{
	text-align: center;
    margin-top: 18px;
}
.fluide_2 span{
	font-size: 20px;
}
.sercel_3{
	width: 386px;
    height: 369px;
    margin-top: -369px;
    margin-left: 814px;
}
.img_5{
	width: 140px;
    height: 140px;
    border-radius: 200px;
    background-color: #3a3737;
    margin-left: 115px;
}
.img_5 img{
	width: 80px;
    margin-top: 31px;
    margin-left: 29px;
}
.fluide_3 span{
	font-size: 19px;
    margin-left: 80px;
}















